/* FLEX页面布局设置 开始 */
div.content{
    display: flex;
    flex-direction: row;
    width: 1000;
    height: 770px;
    background-color: lavenderblush;
    margin-top: 20px;
}
div.content div#menu{
    order: 0;
    width: 120px;
    height: 740px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 1%;
    float: left;
}
#resume{
    order: 1;
    flex-grow: 1;
    width: 1500px;
    height: 710px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 1%;
    float: left;
}
/* FLEX页面布局设置 结束 */

/*表格总体样式设计*/
table                     /*定义table样式*/
{
    margin: 10px;
    border-collapse: collapse;   /* 合并边框 */
    border: 5px solid black;    /* 设置外边框的宽度、样式和颜色 */
    width: 100%;         /* 设置元素宽度为100% */
    height: 10%;         /* 设置元素高度为10% */
    margin-top: 20px;
}

table td, table th {
    border: 1px solid gray; /* 设置内边框的宽度、样式和颜色 */
    padding: 2px;        /* 设置单元格内部的空白区域 */
}
.h2                         /*定义h2样式*/
{
    
    color: #000000; background-color: #cc006d;/*颜色黑色，背景颜色为橙黄*/
}
td{
    height: 50px;
}
/*表格说明文字设计*/
.style1                     /*class为style1的样式，字体大小为large，字体颜色为橙黄*/
{
    font-size: large;
    color: #cc0052;
}
.style2
{
    margin-left: 10px;
    color: #CC0052;        /*class为style2的样式，字体颜色为橙黄*/
}
