/* 根节点：设置为 Flex 布局以自适应屏幕大小。*/
/* FLEX 布局部分 开始*/
div.content{
    display: flex;
    flex-direction: row;
    width: 1000;
    height: 770px;
    background-color: lavenderblush;
    margin-top: 20px;
}
div.content div#menu{
    order: 0;
    width: 120px;
    height: 740px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 1%;
    float: left;
}
div.content div#pic{
    order: 1;
    margin-left: 1%;
}
div.content div#intro{
    order: 2;
    margin-left: 1%;
    margin-right: 1;
    flex-grow: 1;
}
/* FLEX 布局部分 结束 */

/* 中央大图设置*/
div#pic{
    width: 1130px;
    height: 745px;
    background-image: url(img/bk.png);
    background-size: cover;
    margin-top: 15px;
    margin-left: 35px;
    border-radius: 20px;
    float: left;
}
/* 自我介绍设置 */
div#intro{
    height: 745px;
    width: 350px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    background-color: rgb(255, 255, 255);
}
div#intro>h1{
    text-align: center;
}