/*通用头部和页尾样式表*/
/* 头部样式表*/
header.hhhhd{
    height: 96px;
    background-color:palevioletred;
}
div.inner{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
div.cont_head{
    height:80px;
    
}
div#head1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:200px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
div#date{
    color: rgb(250, 250, 250);
    font-size: 12px;
    margin-top: 5px;
    
}
div#time{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}
div#head2{
    width:90px;
    background-image:url(img/pfp.jpg);   /*插入头像*/
    background-size: cover;
    float: right;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
}


/*页尾*/
footer{
    height: 50px;
    width: 100%;
    background-color: rgb(223, 180, 180);
    float: inline-end;
}


/* 侧边栏样式表 开始*/
ul{
    padding: 0;
}
li{
    list-style: none;
}
li>a{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    height: 20%;
    text-decoration: none;
}
li>a>p.content1{
    display: block;
    padding-left: 30%;
}
li:hover{
    background-color: rgba(176, 124, 124, 0.871);
}
li:hover .content,li:hover div{
    color: rgb(173, 173, 173);
}
li:hover>a>p.content1{
    display: block;
    padding-left: 40%;
}
.content1{
    color: black;
    white-space: nowrap;
    transition: all .2s ease-out; 
    
}
/* 侧边栏样式表 结束*/